body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #001f3f; /* Azul Marinho */
    padding: 10px 0;
    text-align: center;
    color: white;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Estilos para os planos */
.plano {
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona a transição */
}

/* Estilo para quando o mouse está sobre o plano */
.plano:hover {
    transform: scale(1.1); /* Expande o plano em 10% */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para dar efeito de destaque */
}

.banner {
    background-color: #001f3f;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.planos {
    padding: 20px;
    text-align: center;
}

.plano {
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 250px;
}

footer {
    background-color: #001f3f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#mapa {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
